# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
CpartCode/exportfiletest/exportfiletest.cbp
CpartCode/exportfiletest/exportfiletest.depend
CpartCode/exportfiletest/exportfiletest.layout
CpartCode/param.dat
CpartCode/param.h
first-test/main.c
first-test/first-test.layout
first-test/first-test.cbp
first-test/first-test.depend
CpartCode/exportfiletest/main.c
first-test/GENCOD.H
first-test/GENCOD.C
